<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:fragment="header-css(title,links)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!--    <link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet">-->
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/css/menu.css}"/>
    <link rel="stylesheet" th:href="@{/css/footer.css}"/>
    <link rel="icon" th:href="@{/images/icon.png}" sizes="16x16" type="image/png">
    <th:block th:replace="${links}" />
    <title th:replace="${title}"></title>
</head>
<body>
    <!--  HEADER CONTAINS MENU  -->
    <header th:fragment="header">
        <div class="overlayMenu" id="overlayMenu"></div>
        <div class="showMenu" id="showMenu">
            <img th:src="@{/images/menuIcon.png}" alt="">
        </div>
        <!-- Menu  -->
        <div class="menu" id="menu">
            <div  class="closeMenu" id="closeMenu">
                <img th:src="@{/images/close.png}" alt="">
            </div>
            <div class="avatar flex">
                <div class="avatarText">
                    <h3 id="avatarName" th:text="${name}"></h3>
                        <h5 id="avatarpoints">PROFILE POINT OR STATUS</h5>
                </div>
            </div>
            <a th:href="@{/profile}" class="menu-item"><h3 class="title">Profile</h3></a>
            <a th:href="@{/tasks}" class="menu-item"><h3 class="title">Tasks</h3></a>
            <a th:href="@{/courses}" class="menu-item"><h3 class="title">Course</h3></a>
            <a th:href="@{/leaderboard}" class="menu-item"><h3 class="title">Leaderboard</h3></a>
            <form th:action="@{/logout}" method="post" class="menu-item">
                <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
                <button type="submit" class="menu-item logOut"><h3 class="title">Log out</h3></button>
            </form>
            <!-- add logOut class to logOut -->
        </div>
    </header>
</body>
</html>