<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
</head>
<body>

    <div th:fragment="learn (learn)" class="learn-item pagesBlock">
        <a th:href="@{/learn/{id}(id = ${learn.id})}" th:text="${learn.name}"></a>
        <div th:if="${adminPanel}" class="editLearn">
            <a th:href="@{/admin/learn/{id}(id = ${learn.id})}" th:text="'Edit'"></a>
        </div>
    </div>

</body>
</html>