<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

    <a th:fragment="sortLink (field, order, tags, paginationData)"
       th:class="${currentField == field && currentOrder == order ? 'selected' : ''}"
       th:href="@{/tasks(query=${param.query},
            page=0,
            level=${param.level},
            sortField=${field},
            sortOrder=${order},
            tags=${tags})}"
       th:utext="${order}">
    </a>

    <button>
        <a th:fragment="levelLink (level, currentLevel, tags, paginationData)"
           th:href="@{/tasks(query=${param.query},
                page=0,
                level=${level == currentLevel} ? '' : ${level},
                sortField=${field},
                sortOrder=${order},
                tags=${tags})}">
            <h2 th:class="'sortItemLevel lvl' + ${level} + ${currentLevel == level ? ' selected':''}" th:text="'Level ' + ${level}"></h2>
        </a>
    </button>

</body>
</html>