<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
</head>
<body>
    <div th:fragment="task (task)" class="task flex pagesBlock">
        <div class="taskContent">
            <div class="taskMain flex">
                <div class="taskLevel" th:text="${task.level} + ' level'"></div>
                <div class="taskName">&#10004;<a th:href="@{/task/{id}(id = ${task.id})}" th:text="${task.name}"></a></div>
            </div>
            <div class="taskStatic">
                <div class="rating">rating: 49</div>
                <div class="percentSolutions" th:text="${task.views != 0} ? 'Solutions: ' + ${(task.solutions * 1.0)/task.views * 100} + '%' : ''"></div>
                <div class="viewers" th:text="${task.views} + ' views'"></div>
            </div>
            <div class="taskAttribute">attributes</div>
            <div th:if="${adminPanel}">
                <div class="taskName"><a th:href="@{/admin/task/{id}(id = ${task.id})}" th:text="'Edit'"></a></div>
            </div>
        </div>
        <div th:class="'taskColor lvl' + ${task.level}"></div>
    </div>

</body>
</html>