<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
</head>
<body>
    <div th:fragment="task (task)" class="task flex pagesBlock">
        <div class="taskContent">
            <div class="taskMain flex">
                <div class="taskLevel" th:text="${task.level} + ' level'"></div>
                <div class="taskName"><a th:href="@{/task/{id}(id = ${task.id})}" th:text="${task.name}"></a></div>
            </div>
            <div class="taskStatic">
                <div class="rating" th:text="'Rating: ' + ${ (task.level == '1'? 1 : task.level == '2' ? 2 : 3) * (task.views + 2 * task.solutions)}"></div>
                <div class="percentSolutions" th:text="'Solutions: ' + ${task.views != 0 ? (task.solutions * 1.0)/task.views * 100 : '0'} + '%' "></div>
                <div class="viewers" th:text="${task.views} + ' views'"></div>
            </div>
            <div class="taskAttribute">
                <div th:each="tag : ${task.tags}">
                    <span th:text="${tag.name}"></span>
                </div>
            </div>
            <div th:if="${adminPanel}">
                <div class="taskName">&#10004;<a th:href="@{/admin/task/{id}(id = ${task.id})}" th:text="'Edit'"></a></div>
            </div>
        </div>
        <div th:class="'taskColor lvl' + ${task.level}"></div>
    </div>

</body>
</html>