/*
	CHAPTER-LIST PLACE STYLE
*/
.chapters-name-list{
    width: 300px;
    height: fit-content;
    height: -moz-fit-content;
}
.chapterName{
    padding: 20px;
    border-bottom: 1px solid white;
    color: white;
    font-size: 20px;
}
.chapterName:last-child{
    border: none;
}
.chapterName a{
    color:white;
}
/*
    CHAPTER TEXT PLACE
*/
.textPlace{
    margin-left: 30px;
    width: calc(100% - 330px);
    height: fit-content;
    height: -moz-fit-content;
}
.chapterText{
    padding: 20px;
    color: white;
    font-size: 20px;
    text-align: justify;
}
.chapterDescription{
    line-height: 1.5;
    margin-bottom: 10px;
}
.chapterTitle{
    color: rgb(152, 46, 46);
    margin: 10px 0px;
}
.examples{
    width: 100%;
    border-collapse: collapse;
}
.examplesHead{
    color: rgb(152, 46, 46);
}
.examples th{
    border: 1px solid rgb(140, 140, 140);
    padding: 10px;
}
@media screen and (max-width:900px){
    .content{
        display:block;
        padding-right: 10px;
    }
    .chapters-name-list{
        margin:0 auto;
    }
    .textPlace{
        width:auto;
        margin: 20px 0px 0px;
    }
}
@media screen and (max-width:600px){
    .chapters-name-list{
        width:auto;
    }
}