* {
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

body {
    background-attachment: fixed;
    background-image: url("/images/back.png");
    background-size: cover;
}

header {
    display: flex;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
}

.login-form {
    box-shadow: inset 0px 0px 10px 1px rgb(255, 255, 255);
    margin: auto;
    width: 400px;
    height: 600px;
    background: #353541;
    text-align: center;
    border-radius: 20px;
}

.login-form img {
    padding: 20px;
    transition: 1s linear;
}

.login-form img:hover {
    transform: rotate(90deg);
}

.login-form a {
    color: grey;
    transition: 0.5s all;
}

.login-form a:hover {
    color: rgb(160, 34, 34);
}

.login-form h2 {
    color: white;
}

.login-form p {
    font-style: oblique;
    padding-top: 10px;
    color: white;
}

label {
    font-size: 25px;
}

input {
    box-shadow: 0 1px 2px 0 rgb(255, 255, 255);
    border-radius: 2px;
    border-color: rgb(75, 80, 133);
    font-size: 20px;
    height: 30px;
    width: 250px;
}

span {
    color: white;
}

button:hover {
    background-color: grey;
}

iframe {
    width: 99%;
    height: 99%;
}