/* 
    PROFILE MAIN STYLES
*/
.content{
    padding-left: 150px;
}
.contentWidth{
    /* MUST BE DELETED */
    width: 900px;
    max-width: 900px;
}
.container{
    max-width: 1300px;
}
.pad{
    padding: 10px;
}
.blockMarg{
    margin-top: 30px;
}
/* 
    PROFILE PHOTO AND MAIN INFORMATION
*/
.photo{
    background: url("../images/avatar.jpg");
    background-size: cover;
    width: 200px;
    height: 200px;
    margin-right: 20px;
}
.mainInformation{
    color: white;
    height: 200px;
    width: calc(100% - 228px);
	background: #353541;
}
.profileName{
    color: rgb(156, 68, 68);
    font-size: 20px;
    border-bottom: solid 1px white;
}
.mainStats{
    padding:10px;
}
/*/
    PROFILE FULL INFORMATION
 */
.fullInformation{
    color: rgb(255, 255, 255);
}
/*
    PROFILE FRIENDS LIST
 */
 .friendsList{
    margin-left: 50px;
    height: 100%;
    width: 300px;
}
.friend{
    color:white;
    margin: 10px;
    padding: 10px;
    background:rgb(1,1,1);
}
/*
    PROFILE COMPLETED AND ATTEMPTED TASKS
 */
.head{
    width: 300px;
    justify-content: space-around;
}
.headItem{
    padding: 5px;
    color: rgb(255, 255, 255);
}
.tasks{
    padding: 10px 20px 20px 100px;
    background: none;
}
/* 
    MEDIA CONTENT FOR PROFILE PAGE
*/
/* 
    MUST BE CHANGED
*/
/* @media screen and (min-width:400px) and (max-width: 900px){
    .content{
        padding-left: 100px;
        padding-right: 20px;
    }
    .container{
        display: block;
    }
    .profile{
        display: block;
    }
}
@media screen and (min-width: 900px) and (max-width:1200px){
    
    .content{
        padding-left: 50px;
    }
    .profile{
        display: block;
    }
    .contentWidth{
        width: 300px;
    }
}  */