/* 
    PROFILE MAIN STYLES
*/
.container{
    max-width: 1000px;
    margin: 0 auto;
}
.pad{
    padding: 10px;
}
.blockMarg{
    margin-top: 30px;
}
/*
    PROFILE PHOTO AND MAIN INFORMATION
*/
.photo{
    background: url("../images/avatar.jpg");
    background-size: cover;
    width: 200px;
    height: 200px;
    margin-right: 20px;
}
.mainInformation{
    color: white;
    height: 200px;
    width: calc(100% - 228px);
    background: #353541;
}
.profileName{
    color: rgb(156, 68, 68);
    font-size: 20px;
    border-bottom: solid 1px white;
}
.mainStats{
    padding:10px;
}
.levelStat{
    margin: 10px;
}
.levelName{
    padding: 10px;
}
.fullProgress{
    text-align: center;
    height: auto;
    background-color: #3a4292;
    width: 100%;
}
.myProgress{
    height: 100%;
    background-color: #c35b5b;
}
.nextLevel{
    text-align: center;
}
/*/
    PROFILE FULL INFORMATION
 */
.fullInformation{
    color: rgb(255, 255, 255);
    text-align: justify;
}
/*
    PROFILE FRIENDS LIST
 */
.friendsList{
    margin-left: 50px;
    height: 100%;
    width: 300px;
}
.friend{
    color:white;
    margin: 10px;
    padding: 10px;
    background:rgb(1,1,1);
}
/*
    PROFILE COMPLETED AND ATTEMPTED TASKS
 */
.head{
    padding: 5px 0px;
}
.headItem{
    font-size: 20px;
    margin-right: 10px;
    padding: 5px 30px;
}
.headItem a{
    color: white;
}
.headItem.selected a{
    color: rgb(179, 0, 0);
}
.tasks{
    padding: 10px 20px 20px 100px;
    background: none;
}
/*
    MEDIA CONTENT FOR PROFILE PAGE
*/
@media screen and (max-width: 750px){
    .profile{
        display: block;
    }
    .photo{
        margin: 0 auto;
    }
    .mainInformation{
        width: auto;
        margin-top: 10px;
    }
    .tasks{
        padding: 10px 5px;
    }
}
@media screen and (max-width: 610px){
    .head{
        display: block;
    }
    .headItem{
        text-align: center;
        margin: 5px 0px;
    }
    .content{
        padding: 10px;
    }
    .task{
        display: block;
    }
    .taskContent{
        width: auto;
    }
    .taskStatic{
        display: block;
        text-align: center;
    }
    .taskColor{
        height: 20px;
        width: 100%;
        border-left:none;
        border-radius: 0px 0px 20px 20px;
    }
}