/*
    width: 100px + 50px + 250px*2 + 30px* 2 = 710px
*/

/*
    SORT PLACE
*/
.sortBlock{
	color: white;
	margin-top: 20px;
	padding: 20px;
	width: 220px;
	height: fit-content;
}
.sortBlock a{
	color: white;
}
.sortBlock a.selected{
	color: rgb(161, 159, 38);
}
/*
    FIRST SORT ITEMS BY NAME, LEVEL
*/
.search{
	padding-bottom: 40px;
	border-bottom: solid 1px white;
}
.searchInput{
	border-radius: 7px;
	font-size: 20px;
	height: 30px;
	width: 100%;
}
.searchButton{
	border-radius: 5px;
	font-size: 25px;
	margin-top: 10px;
	padding: 5px;
	width: 100%;
	background: linear-gradient(to right,rgba(150, 89, 92, 0.377),rgba(99, 28, 28, 0.7)) rgb(33, 35, 138)
}
.sortItemLevel{
	color: black;
	padding: 10px 5px;
	margin-bottom: 10px;
	text-align: center;
}
.sortItemLevel.selected{
	font-size: 30px;
}
.sortItemLevel:hover{
	opacity: 0.7;
}
/*
	TASKS PLACE STYLE
*/
.tasks{
	margin: 0 auto;
	padding: 20px 20px;
	background: none;
	width: 600px;
}
/*
    SECOND SORT ITEMS BY ATTRIBUTES
*/
.sortBy{
	text-align: center;
}
.itemSort{
	border: 1px solid rgb(133 92 92);
	border-radius: 10px;
	padding:5px;
	margin-top: 15px;
}
.itemHeading{
	margin-bottom: 5px;
}
.tag{
	line-height: 1.5;
}
.tag:hover{
	cursor: pointer;
}
.tag.selected{
	color: rgb(161, 159, 38);
}
/*
	PAGINATION
 */
.pagination{
	padding-top: 20px;
	text-align: center;
}
.pagination .page-item{
	color:white;
	list-style: none;
	display: inline-block;
	padding-left: 10px;
}
.pagination li a{
	color: white;
}
.pagination .page-item.current a{
	color: rgb(179, 0, 0);
}
/*
	@MEDIA
*/
@media screen and (min-width:1800px){
	.tasks{
		width: 900px;
	}
}
@media screen and (min-width: 1400px) and (max-width: 1800px) {
	.tasks{
		width: 650px;
	}
}