/* 
    width: 100px + 50px + 250px*2 + 30px* 2 = 710px
*/

/* 
    SORT PLACE 
*/
.sortBlock{
	margin-top: 20px;
    padding: 20px;
	width: 230px;
	height: 100%;
}
/* 
    FIRST SORT ITEMS BY NAME, LEVEL
*/
.search{
	padding-bottom: 20px;
	border-bottom: solid 1px white;
}
.searchInput{
    border-radius: 7px;
    font-size: 20px;
    height: 30px;
    width: 100%;
}
.searchButton{
	background: linear-gradient(to right,rgba(150, 89, 92, 0.377),rgba(99, 28, 28, 0.7)) rgb(33, 35, 138)}
.sortItemLevel{
	border-radius: 5px;
	font-size: 25px;
	margin-top: 10px;
	padding: 10px;
    width: 100%;
}
.sortItemLevel:hover{
	opacity: 0.7;
}
/*
	TASKS PLACE STYLE
*/
.tasks{
	margin: 0 auto;
	padding: 20px 20px;
	background: none;
	width: 600px;
}
/* 
    SECOND SORT ITEMS BY ATTRIBUTES
*/
.sortItem{
	margin-top: 10px;
	border: solid 1px white;
	border-radius: 5px;
}
/*
	PAGINATION
 */
.pagination{
	padding-top: 20px;
	text-align: center;
}
.pagination li{
	list-style: none;
	display: inline-block;
	padding-left: 10px;
}
.pagination .page-item a{
	color: white;
}
.pagination .page-item.current a{
	color: rgb(179, 0, 0);
}
/*
	@MEDIA
*/
@media screen and (min-width:1800px){
	.tasks{
		width: 900px;
	}
}
@media screen and (min-width: 1400px) and (max-width: 1800px) {
	.tasks{
		width: 650px;
	}
}