/*
    CONTENT SECTION
*/
.content{
    height: 100vh;
    margin: 0 auto;
    padding: 0px 0px 0px 120px;
    max-height: 1500px;
}
/*
    TASK DESCRIPTION
*/
.descriptionPlace{
    width: 50%;
    border-right: solid 5px rgb(129, 43, 43);
}
.description{
    overflow-y: auto;
    margin: 20px;
    padding: 10px;
    height: calc(100% - 65px);
    border: 2px solid white;
    color: white;
}
/*
    SOLUTION PLACE
*/
.solutionPlace{
    width: 50%;
    height: 100%;
}
.backColor{
    background: rgb(0,0,0,0.3);
}
.editor1{
    margin: 20px;
    padding: 10px;
    height: calc(65% - 95px);
    color: rgba(255, 255, 255, 0.7);
}
.editor1:focus{
    border: 2px solid rgba(255, 255, 255, 0.4);
}
.submit{
    margin: 0px 20px;
    height: 40px;
    width: calc(100% - 40px);
    font-size: 25px;
    background: rgb(100,100,100);
    transition: .3s;
}
.submit:hover{
    background: rgb(70,70, 70);
}
.result{
    margin: 20px;
    padding: 10px;
    height: calc(35% - 60px);
    overflow-y: auto;
}
.out{
    color: rgba(255, 255, 255, 0.7);
}
.error{
    color: rgb(131, 31, 31);
}
.success{
    font-size: 40px;
    text-align: center;
    color: rgb(20, 117, 16);
}