/* 
    USING FOR ALL DOCUMENT
*/
.noneBack{
    background: none;
}
/* 
      <!-- SHOW DESCRIPTION OR SOLUTION PLACE -->
*/
.head{
    width: 200px;
    justify-content: space-around;
}
.headItem{
    padding: 5px;
    color: rgb(255, 255, 255);
}
/* 
    DESCRIPTION PLACE
*/
.tasksPlace{
    padding: 30px;
    justify-content: center;
}
.task{
    margin: 0 auto;
}
.descriptionPlace{
    color: rgba(255, 255, 255, 0.7);
    margin: 40px;
    padding: 20px;
}
/* 
    PLACE FOR USER CODE AND SERVER UNSWER
*/
.solutionPlace{
    padding: 40px;
}
.codeEditor{
    background: rgb(0,0,0,0.4);
}
.editor1{
    color: rgba(255, 255, 255, 0.7);
    padding: 15px;
    min-height: 400px;
    max-height: 550px;
}
.editor1:focus{
    border: 1px solid rgba(255, 255, 255, 0.4);
}
.submit{
    background: rgb(100,100,100);
    transition: .3s;
    margin: 20px 0px;
    height: 50px;
    font-size: 25px;
    width: 100%;
}
.submit:hover{
    background: rgb(70,70, 70);
}

.result{
    min-height: 200px;
    max-height: 400px;
    background: rgb(0,0,0,0.4);
}