<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header-css(~{::title},~{::link})">
    <link rel="stylesheet" th:href="@{/css/admin.css}" />
    <title>Cybermind | Learn</title>
</head>
<body>
    <div th:replace="fragments/header :: header"></div>

    <div class="content">
        <div class="learn-list block">
            <div class="admin-item pagesBlock">
                <a th:href="@{/admin/createTask}" th:text="'Create Task'"></a>
            </div>
            <div class="admin-item pagesBlock">
                <a th:href="@{/admin/learn}" th:text="'Create Learn'"></a>
            </div>
        </div>

    </div>

    <div th:replace="fragments/footer :: footer"></div>
</body>
</html>