<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header-css(~{::title},~{::link})">
    <link rel="stylesheet" th:href="@{/css/tasks.css}" />
    <link rel="stylesheet" th:href="@{/css/task.css}" />
    <title>Cybermind | Learn</title>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="content flex">
    <!-- Chapters -->
    <div class="chapters">
        <th:block th:each="c : ${chapters}">
            <a th:href="@{/learn/{learnId}/chapter/{chapterId}(learnId = ${learnId}, chapterId = ${c.id})}">
                <div class="chapter" th:text="'&#9899;' + ${c.name}"></div>
            </a>
        </th:block>
    </div>
    <div id="caption" class="caption">
        <th:block th:utext="${chapter.text}">
        </th:block>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>