<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header-css(~{::title},~{::link})">
    <link rel="stylesheet" th:href="@{/css/leaderboard.css}" />
    <title>Cybermind | Leaderboard</title>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="content">
    <div class="leaderboard">
        <h1>LEADERBOARD</h1>
    </div>
    <div class="user-list">
        <th:block th:each="u,iter : ${users}">
            <div th:replace="fragments/user :: user (user = ${u},position = ${iter.index + 1})">
            </div>
        </th:block>
    </div>

</div>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>