<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header-css(~{::title},~{::link})">
    <link rel="stylesheet" th:href="@{/css/registrationForm.css}"/>
    <title>Cybermind | Login</title>
</head>
<body>
<div class="content">
    <form action="/login" method="POST" class="registrationForm pagesBlock">
        <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
        <a href="/">
            <img  class="mainImage" th:src="@{/images/gear.png}"  width=200px height=200px alt="">
        </a>
        <h2 class="title">We are glad to see you there!</h2>
        <input class="input-item" type="text" name="username" id="login" placeholder="User name" maxlength="30">
        <input class="input-item" type="password" name="password" id="password" placeholder="Password" maxlength="15">
        <p class="textArea"><a href="#">Forgot your password?</a></p>
        <button class="signButton" type="submit">Sign in</button>
        <div class="textArea">
            <a href="/registration">Sign up</a>
            if you don't have an account yet.
        </div>
    </form>
</div>
</body>
</html>