<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header-css(~{::title},~{::link})">
    <link rel="stylesheet" th:href="@{/css/profile.css}">
    <link rel="stylesheet" th:href="@{/css/task.css}">
    <title>Cybermind | Profile</title>
</head>
<body>
    <div th:replace="fragments/header :: header"></div>
    <div class="content">
        <!-- PROFILE INFORMATION WITH FRIEND LIST -->
        <div class="container flex">
            <div class="contentWidth">
                <!-- PROFILE PHOTO AND MAIN INFORMATION -->
                <div class="profile flex">
                    <div class="photo pagesBlock"></div>
                    <div class="mainInformation pagesBlock">
                        <div class="profileName pad">
                            <h2 id="name" class="" th:text="${userProfile.username}">Profile name</h2>
                        </div>
                        <div class="mainStats pad">
                            <h3 th:text="'Points: ' + ${userProfile.points}" >Points</h3>
                            <h3>Level 1</h3>
                        </div>
                    </div>
                </div>
                <!-- PROFILE FULL INFORMATION -->
                <div class="fullInformation pagesBlock blockMarg">
                    <div class="pad">
                        <div class="totalStats">
                            <h3 id="level" class="pad">Level 1</h3>
                            <h3 id="points" class="pad" th:text="'Points: ' + ${userProfile.points}"></h3>
                            <h3 id="leaderPosition" class="pad" th:text="'Leaderboard position: ' + ${userProfile.leaderBoardPosition}"></h3>
                            <h3 id="totalTasks" class="pad" th:text="'Total tasks: ' + ${userProfile.getSolvedTasks().size()}"></h3>
                            <th:block th:each="solvedTask : ${userProfile.numberOfSolvedTasks}">
                                <h3 class="pad" th:text="${solvedTask.key} + ' level: ' + ${solvedTask.value}"></h3>
                            </th:block>
                        </div>
                    </div>
                </div>
            </div>
            <!-- PROFILE FRIENDS LIST -->
            <div class="friendsList pagesBlock">
                <div class="friend">
                    <span> Friend 1</span>
                </div>
                <div class="friend">
                    <span> Friend 2</span>
                </div>
            </div>
        </div>
        <!-- PROFILE COMPLETED AND ATTEMPTED TASKS -->
        <div class="profileTasks blockMarg contentWidth">
            <dl class="head flex">
                <dd th:class="'headItem pagesBlock ' + ${listType == 'all' ? 'selected' : ''}">
                    <a th:href="@{/profile/{username}/all(username = ${username})}">All</a>
                </dd>
                <dd th:class="'headItem pagesBlock ' + ${listType == 'solved' ? 'selected' : ''}">
                    <a th:href="@{/profile/{username}/solved(username = ${username})}">Solved</a>
                </dd>
                <dd th:class="'headItem pagesBlock ' + ${listType == 'attempted' ? 'selected' : ''}">
                    <a th:href="@{/profile/{username}/attempted(username = ${username})}">Attempted</a>
                </dd>
            </dl>
            <div class="tasks block pagesBlock">
                <th:block th:if="${listType == 'all'}" th:each="t : ${userProfile.getTasks()}">
                    <div th:replace="fragments/task :: task (task = ${t})">
                    </div>
                </th:block>
                <th:block th:if="${listType == 'solved'}" th:each="t : ${userProfile.getSolvedTasks()}">
                    <div th:replace="fragments/task :: task (task = ${t})">
                    </div>
                </th:block>
                <th:block th:if="${listType == 'attempted'}" th:each="t : ${userProfile.getAttemptedTasks()}">
                    <div th:replace="fragments/task :: task (task = ${t})">
                    </div>
                </th:block>
            </div>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer"></div>
</body>
</html>