<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"></div>
    <title>Cybermind | Sign Up</title>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <form th:action="@{/registration}" th:object="${user}"
          method="post" style="max-width: 600px; margin: 0 auto;">
        <div class="m-3">
            <div class="form-group row">
                <label class="col-4 col-form-label">Username: </label>
                <div class="col-8">
                    <input th:field="*{username}" class="form-control" required />
                    <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Name Error</p>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-4 col-form-label">Password: </label>
                <div class="col-8">
                    <input type="password" th:field="*{password}" class="form-control" />
                    <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Name Error</p>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-4 col-form-label">Confirm Password: </label>
                <div class="col-8">
                    <input type="password" th:field="*{confirmPassword}" class="form-control" />
                    <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Name Error</p>
                </div>
            </div>
            <div>
                <button type="submit" class="btn btn-primary">Sign Up</button>
            </div>
        </div>
    </form>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>