<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header-css(~{::title},~{::link})">
    <link rel="stylesheet" th:href="@{/css/tasks.css}" />
    <link rel="stylesheet" th:href="@{/css/menu.css}" />
    <link rel="stylesheet" th:href="@{/css/task1.css}" />
    <title>Cybermind | Tasks</title>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

    <div class="content flex">
        <div class="taskDescription">
            <div class="head">
                <dl class="flex">
                    <dd class="headItem"><a href="#">Description</a></dd>
                    <dd class="headItem"><a href="#">Solution</a></dd>
                    <dd class="headItem"><a href="#">Discussion</a></dd>
                </dl>
            </div>
            <div class="description">
<!--                <iframe src="riceboard.pdf"></iframe>-->
                <h2 th:text="${task.name}"></h2>
                <div>
                    <span th:text="${task.description}"></span>
                </div>
                <div>
                    <span th:text="${task.input}"></span>
                </div>
                <div>
                    <span th:text="${task.output}"></span>
                </div>
            </div>
        </div>w
        <div class="solutionPlace">
            <div class="codeEditor">
                <!-- All that in comment must be correct -->
                <div class="editor full language-Java">
                </div>

                <script type="module" id="code">
                    import {CodeJar} from "/js/codejar.js"

                    const jar = new CodeJar(
                        document.querySelector(".editor"),
                        Prism.highlightElement
                    )
                </script>
                <script src="/js/prism-core.js"></script>
                <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/components/prism-core.min.js"></script> -->
                <!-- JS code editor -->
                <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/plugins/autoloader/prism-autoloader.min.js"></script>           -->
            </div>
            <button class="sub">SUBMIT</button>
            <div class="result"></div>
        </div>
    </div>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>