<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header-css(~{::title},~{::link})">
    <link rel="stylesheet" th:href="@{/css/tasks.css}" />
    <link rel="stylesheet" th:href="@{/css/task.css}" />
    <title>Cybermind | Tasks</title>
</head>
<body>
    <div th:replace="fragments/header :: header"></div>
    <div class="content flex">
        <!-- FIRST SORT BY NAME, LEVEL -->
        <div class="sortBlock pagesBlock">
            <div class="search">
                <form id="searchForm" method="GET">
                    <input class="searchInput" type="text" name="query" id="query" th:value="${currentQuery}">
                    <button type="submit" class="searchButton">FIND</button>
                </form>
            </div>
            <div class="levelSort">
                <div th:replace="fragments/links :: levelLink (level = '1', currentLevel = ${currentLevel}, tags = ${paramTags}, paginationData = ${paginationData})"></div>
                <div th:replace="fragments/links :: levelLink (level = '2', currentLevel = ${currentLevel}, tags = ${paramTags}, paginationData = ${paginationData})"></div>
                <div th:replace="fragments/links :: levelLink (level = '3', currentLevel = ${currentLevel}, tags = ${paramTags}, paginationData = ${paginationData})"></div>
            </div>
        </div>
        <!-- Tasks -->
            <div class="tasks block">
                <th:block th:each="t : ${tasks}">
                    <div th:replace="fragments/task :: task (task = ${t})">
                    </div>
                </th:block>
                <div th:replace="fragments/pagination :: pagination (paginationData = ${paginationData}, tags = ${appliedTags}, paramTags = ${paramTags})"></div>
            </div>

        <!-- sort items by attributes -->
        <div class="sortBlock pagesBlock">
            <h1>Sort by:</h1>
            <div class="attributeSort">
                <div class="itemSort">
                    <h2 class="itemHeading">ID</h2>
                    <div th:replace="fragments/links :: sortLink (field = 'id', order = 'ASC', tags = ${paramTags}, paginationData = ${paginationData})"></div>
                    <div th:replace="fragments/links :: sortLink (field = 'id', order = 'DESC', tags = ${paramTags}, paginationData = ${paginationData})"></div>
                </div>
                <div class="itemSort">
                    <h2 class="itemHeading">Name</h2>
                    <div th:replace="fragments/links :: sortLink (field = 'name', order = 'ASC', tags = ${paramTags}, paginationData = ${paginationData})"></div>
                    <div th:replace="fragments/links :: sortLink (field = 'name', order = 'DESC', tags = ${paramTags}, paginationData = ${paginationData})"></div>
                </div>
                <div class="itemSort">
                    <h2 class="itemHeading">Tags</h2>
                        <div th:each="t : ${allTags}">
                            <span th:class="${paramTags.contains(t.name)} ? 'tag selected' : 'tag'" th:text="${t.name}"></span>
                        </div>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="fragments/footer :: footer"></div>
    <script th:src="@{/js/tasks.js}"></script>
</body>
</html>